{
  "extends": ["airbnb-base"],
  "rules": {
    "callback-return": "off",
    "dot-location": "off",
    "indent": "error",
    "no-console": "off",
    "max-len": "off",
    "consistent-return": "off",
    "no-unused-vars": "warn"
  },
  "env": {
    "es6": true,
    "jasmine": true,
    "mocha": true,
    "mongo": true,
    "node": true
  },
  "ecmaFeatures": {
    "modules": true,
    "arrowFunctions": true,
    "classes": true
  }
}
